{% extends '_layout.html' %}
{# This page will return '_layout.html' but with the {% block %}s replaced #}

{% block title %}Homepage{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>House</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for row in result %}
        <tr>
            <td>{{ row.first_name }}</td>
            <td>{{ row.last_name }}</td>
            <td class="{{ row.house|lower }}">{{ row.house }}</td>
            <td>
                <a
                   href="/delete?id={{ row.id }}"
                   onclick="return confirm('Are you sure you wish to delete {{ row.first_name }}?')"
                >
                    Delete
                </a>
            </td>
            <td>
                <a href="/edit?id={{ row.id }}">
                    Edit
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('add_person') }}">Add a new person</a>
{% endblock %}
